@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_MiPropioLayout.cshtml";
}

<h3>Acerca de nosotros</h3>
<p>Esta es una página usando layout.</p>