@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/estilo.css" rel="stylesheet" type="text/css" />
<script src="~/js/site.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h3 class="formato">Ejemplo de archivos estáticos</h3>
<img src="~/imagenes/mapache.jpg" onclick="clic()" />