<h3>Parámetros</h3>

<a asp-controller="parametros" asp-action="Ejemplo1" asp-route-id="123">Ejemplo 1</a>
<br />
<a asp-controller="parametros" asp-action="Ejemplo2" asp-route-id="321" asp-route-id2="producto07">Ejemplo 2</a>
<br />
<a asp-controller="parametros" asp-action="Ejemplo3" asp-route-prod="505">Ejemplo 3</a>
<br />
<a asp-controller="parametros" asp-action="Ejemplo4" asp-route-idprod="777" asp-route-prod="producto10">Ejemplo 4</a>
<br />
<a asp-controller="parametros" asp-action="Ejemplo5" asp-route-idprod="999" asp-route-prod="producto108">Ejemplo 5 (HttpContext)</a>