<h3>Lista de productos disponibles</h3>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Foto</th>
        <th>Acciones</th>
    </tr>
    @foreach (var producto in ViewBag.Productos)
    {
        <tr>
            <td>@producto.Id</td>
            <td>@producto.Nombre</td>
            <td>@producto.Precio</td>
            <td><img src="~/imagenes/@producto.Foto" height="100"></td>
            <td>
                <a href="@Url.Action("Agregar", "Carrito", new { id = producto.Id })">Agregar al carrito</a>
            </td>
        </tr>
    }
